<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-container">
        {{>header}}
        <p>Name : {{name}}</p>
        <p>Designation: {{title}}</p>
    </div>
    {{>footer}}
</body>

</html>