<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-container">
        {{>header}}
        <h1>Contact our Support team</h1>
        <p>Address: {{location}}</p>
        <p>Phone: {{phoneNo}}</p>
    </div>
    {{>footer}}
</body>

</html>