<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-container">
        {{>header}}
        <form>
            <input>
            <button>Search</button>
            <div>
                <p class="forecast-label">Fore Cast</p>
                <p class='forecast-message'></p>
            </div>
        </form>
    </div>
    {{>footer}}
</body>
<script src="/js/app.js"></script>

</html>