<div class="weather-header">
    <div class="main-header">
        <img src="/images/thunder.png" class="thunder-logo">
        <h1 class="header-name">ZEUS</h1>
    </div>
    <h3>
        <a href="../">Weather</a>
        <a href="/about">About</a>
        <a href="/help">help</a>
    </h3>
</div>